.header {
    width: 100%;
    /*border: 1px solid black;*/
    overflow: hidden;
    margin-bottom: 50px;
}

.logo {
    width: 20%;
    float: left;
    border: 1px solid gray;
    font-family: Helvetica;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 10px;
}

.topNav {
    /*border: 1px solid gray;*/
    float: left;
    width: 75%;

}

.topNav ul {
    font-family: Helvetica;
    white-space: nowrap;
    float: right;
}

.topNav li {
    list-style-type: none;
    display: inline-block;
    font-family: Helvetica;
    color:#207cca;
    margin: 21px 50px 21px 50px;
}

#homeBody {
    margin-top: 50px;
    text-align: center;
    font-family: Helvetica;
    color: #207cca;
}

#homeBodyWelcome {
    margin-bottom: 50px;
}

#formHomeSearch {
    width: 800px;
    margin: 50px auto;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;

}

.button {
    position: relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}


