/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom primary button 
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: 1px solid #fff;
}
*/

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
  background: url("images/airport_terminal.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.myitineraries-image {
  height: 100%;
  background: url("images/airport_terminal2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.about-image {
  height: 100%;
  background: url("images/train-alps.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.sign-in-image {
  height: 100%;
  background: url("images/globe2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.sign-up-image {
  height: 100%;
  background: url("images/solidcolor-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

body {
  color: #fff;
  text-align: center;
  text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,.5); 
}

.text {
  color: #000;
}

.heading-text {
  /*color: #2C689C;*/
  color: #fff;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
.lead {
  padding-top: 10px;
}
.bottom {
  padding-bottom: 10px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Columns
 */
.one-half {
      width: 50%;
      }

.one-whole {
      width: 100%;
      }

.column {
    float: left;
    }
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* 
*Tables 
*/

.table-container{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 25px;
    padding-bottom: 25px;
    }

tbody, thead{ 
    padding: 1em; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: #222;
}
table{ 
    border-collapse: collapse; 
    border-spacing: 0; 
    background-color: white;
    width: 100%;
    border: 1px solid #c3c9cc;
    background:rgba(255,255,255,0.8);
}
th, td{
    padding: 1em 0.75em;
    text-align: left;
}
th{
    background-color: #f5f5f5;
    white-space: nowrap;
}
td{
    border-top: 1px solid #c3c9cc;
}

.data-table a {color: blue;}
.data-table a:visited {color: #00FF00;}
.data-table a:hover {color: #FFF;}
.data-table a:active {color: #FF00FF;}
.data-table a:focus {color: #FFFF00;}

/* 
*Forms 
*/

input {
  background:rgba(255,255,255,0.8);
}

.signin, .signup{
  padding-top: 255px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox{
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Footer
 */

#social-media li {
        display: inline;
        margin-right: 8px;
        }

.social-media-icon {
        height: 25px;
        width: 25px;
        }

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  .no-center {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container{
    width: 700px;
  }
}

@media (min-width: 992px) {
 .table-container {
      overflow: visible;
    }
  }